/* Global Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('./images/web3.webp'); /* Make sure the path is correct */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0);
    color: #333;
    overflow-y: scroll;
    background-attachment: fixed;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

/* Header Styles */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #000000, #434343);
    padding: 10px 20px;
    color: #fff;
    border-radius: 10px 10px 0 0;
}

header img {
    height: 50px;
    margin: 5px 0;
    max-width: 100%;
}

header .home-button {
    background-color: #DA83EB;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    margin: 5px 0;
}

header .home-button:hover {
    background-color: #54025F;
    transition: all;
}

header .home-button:active {
    background-color: #9831a6;
}

/* Report Header Styles */
.report-header {
    text-align: center;
    margin-bottom: 20px;
}

.report-header h1 {
    color: #2c3e50;
    margin-bottom: 10px;
}

.report-header h2 {
    color: #2c3e50;
    margin-bottom: 10px;
}

.report-header h3 {
    color: #2c3e50;
    margin-bottom: 10px;
}

.report-header p {
    color: #7f8c8d;
    margin-bottom: 10px;
}

/* Navigation Styles */
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

nav a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #DA83EB;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #54025F;
    transition: all;
}

nav a:active {
    background-color: #c75cd5;
}

/* Section Styles */
.section {
    display: none;
}

.section.active {
    display: block;
}

h1,
h2,
h3,
p {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    /* Ensure main h1 is smaller than report header h1 */
}

h2 {
    font-size: 1.59em;
    /* Ensure main h1 is smaller than report header h1 */
}

h3 {
    font-size: 1.3em;
}

p{
    font-size: x-large;
    font-weight: 490;
}

/* PDF Container Styles */
.pdf-container {
    text-align: center;
    margin: 20px 0;
}

.pdf-container iframe {
    width: 100%;
    height: 600px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.xml-container {
    text-align: left;
    margin: 20px 0;
    width: 100%;
    height: 300px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: auto;
    padding: 10px;
    white-space: pre-wrap;
}

/* Footer Styles */footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background: linear-gradient(to right, #434343, #000000);
    color: #fff;
    border-radius: 0 0 10px 10px;
}

footer a {
    color: #DA83EB;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    header .home-button {
        font-size: 14px;
        padding: 8px 16px;
    }

    header img {
        height: 40px;
    }

    .pdf-container iframe {
        height: 400px;
    }
}